\geometry{top=2cm, headheight=0pt, headsep=0pt, includehead=false}
\makeatletter
\fancyfoot[C]{%
    \kx@setlang%
    \fontsize{6pt}{9pt}\selectfont\color{brandsecondary}%
    \kx@page\ \thepage\ \kx@of\ \pageref{LastPage}%
}
\makeatother
