\documentclass{klartex-base}

%% include '_branding_preamble.jinja'

\setdoctitle{\VAR{data.meeting_type} -- \VAR{data.date}}

\begin{document}

\begin{center}
{\Large\bfseries \VAR{data.meeting_type}}\\[0.5em]
\BLOCK{if brand.name}
{\normalsize \VAR{brand.name}}\\[0.3em]
\BLOCK{endif}
\BLOCK{if data.meeting_number}
{\normalsize Nr \VAR{data.meeting_number}}\\[1em]
\BLOCK{else}
\vspace{1em}
\BLOCK{endif}
\end{center}

\noindent
\begin{tabular}{@{}ll}
\textbf{Datum:} & \VAR{data.date}\BLOCK{if data.time_start}, \VAR{data.time_start}\BLOCK{if data.time_end} -- \VAR{data.time_end}\BLOCK{endif}\BLOCK{endif} \\
\BLOCK{if data.location}
\textbf{Plats:} & \VAR{data.location} \\
\BLOCK{endif}
\BLOCK{if data.chair}
\textbf{Ordförande:} & \VAR{data.chair} \\
\BLOCK{endif}
\BLOCK{if data.secretary}
\textbf{Sekreterare:} & \VAR{data.secretary} \\
\BLOCK{endif}
\end{tabular}

\vspace{1em}
\noindent\textbf{Närvarande:} \VAR{data.attendees | join(', ')}

\BLOCK{if data.adjusters}
\noindent\textbf{Justerare:} \VAR{data.adjusters | join(', ')}
\BLOCK{endif}

\vspace{1em}

\begin{clauses}
\BLOCK{for item in data.agenda_items}
\clause{\VAR{item.title}}
\BLOCK{if item.discussion}
\VAR{item.discussion}
\BLOCK{endif}
\BLOCK{if item.decision}

\textbf{Beslut:} \VAR{item.decision}
\BLOCK{endif}
\BLOCK{endfor}
\end{clauses}

\BLOCK{if data.adjusters}
\vspace{2cm}
\noindent
\BLOCK{for adjuster in data.adjusters}
\begin{minipage}[t]{0.45\textwidth}
Justerare\\[1cm]
\dottedline\\[0.3cm]
\VAR{adjuster}
\end{minipage}\BLOCK{if not loop.last}\hfill\BLOCK{endif}
\BLOCK{endfor}
\BLOCK{endif}

\end{document}
