\documentclass{klartex-base}

%% include '_branding_preamble.jinja'
%% include '_header_' ~ data.get('header', 'standard') ~ '.jinja'

\setdoctitle{Faktura \VAR{data.invoice_number}}

\begin{document}

\begin{flushright}
{\Large\bfseries FAKTURA}\\[0.5em]
{\normalsize Nr: \VAR{data.invoice_number}}\\
{\normalsize Datum: \VAR{data.date}}\\
{\normalsize Förfallodatum: \VAR{data.due_date}}
\end{flushright}

\vspace{1em}

\noindent
\begin{minipage}[t]{0.45\textwidth}
\textbf{Mottagare}\\[0.3em]
\VAR{data.recipient.name}\\
\BLOCK{if data.recipient.org_number}
Org.nr: \VAR{data.recipient.org_number}\\
\BLOCK{endif}
\BLOCK{if data.recipient.address_line1}
\VAR{data.recipient.address_line1}\\
\BLOCK{endif}
\BLOCK{if data.recipient.address_line2}
\VAR{data.recipient.address_line2}
\BLOCK{endif}
\end{minipage}%
\hfill
\begin{minipage}[t]{0.45\textwidth}
\BLOCK{if data.reference}
\textbf{Er referens:} \VAR{data.reference}\\
\BLOCK{endif}
\BLOCK{if data.our_reference}
\textbf{Vår referens:} \VAR{data.our_reference}\\
\BLOCK{endif}
\BLOCK{if data.payment_terms}
\textbf{Betalningsvillkor:} \VAR{data.payment_terms}
\BLOCK{endif}
\end{minipage}

\vspace{2em}

\begin{tabularx}{\textwidth}{Xrrrrr}
\toprule
\textbf{Beskrivning} & \textbf{Antal} & \textbf{Enhet} & \textbf{À-pris} & \textbf{Moms} & \textbf{Belopp} \\
\midrule
\BLOCK{for line in data.lines}
\VAR{line.description} & \VAR{line.quantity} & \VAR{line.get('unit', 'st')} & \VAR{"{:,.2f}".format(line.unit_price)} & \VAR{line.get('vat_percent', 25)}\% & \VAR{"{:,.2f}".format(line.quantity * line.unit_price)} \\
\BLOCK{endfor}
\bottomrule
\end{tabularx}

\vspace{1em}

%# Compute totals — passed as raw (unescaped) numeric data
\BLOCK{set subtotal = namespace(val=0) }
\BLOCK{set vat_total = namespace(val=0) }
\BLOCK{for line in data.lines}
\BLOCK{set subtotal.val = subtotal.val + line.quantity * line.unit_price}
\BLOCK{set vat_total.val = vat_total.val + line.quantity * line.unit_price * line.get('vat_percent', 25) / 100}
\BLOCK{endfor}

\begin{flushright}
\begin{tabular}{lr}
\textbf{Summa exkl. moms:} & \VAR{"{:,.2f}".format(subtotal.val)} \VAR{data.get('currency', 'SEK')} \\
\textbf{Moms:} & \VAR{"{:,.2f}".format(vat_total.val)} \VAR{data.get('currency', 'SEK')} \\
\midrule
\textbf{Att betala:} & \textbf{\VAR{"{:,.2f}".format(subtotal.val + vat_total.val)} \VAR{data.get('currency', 'SEK')}} \\
\end{tabular}
\end{flushright}

\vspace{2em}

\noindent\textbf{Betalningsinformation}\\[0.3em]
\begin{tabular}{@{}ll}
\BLOCK{if data.bankgiro}
\textbf{Bankgiro:} & \VAR{data.bankgiro} \\
\BLOCK{endif}
\BLOCK{if data.plusgiro}
\textbf{Plusgiro:} & \VAR{data.plusgiro} \\
\BLOCK{endif}
\BLOCK{if data.iban}
\textbf{IBAN:} & \VAR{data.iban} \\
\BLOCK{endif}
\BLOCK{if data.bic}
\textbf{BIC:} & \VAR{data.bic} \\
\BLOCK{endif}
\end{tabular}

\BLOCK{if data.note}
\vspace{1em}
\noindent\textit{\VAR{data.note}}
\BLOCK{endif}

\end{document}
