\BLOCK{if brand.name}
\renewcommand{\orgname}{\VAR{brand.name}}
\BLOCK{endif}
\BLOCK{if brand.address.line1}
\renewcommand{\orgaddress}{\VAR{brand.address.line1}\BLOCK{if brand.address.line2}\\\VAR{brand.address.line2}\BLOCK{endif}}
\BLOCK{endif}
\BLOCK{if brand.website}
\renewcommand{\orgwebsite}{\VAR{brand.website}}
\BLOCK{endif}
\BLOCK{if brand.email}
\renewcommand{\orgemail}{\VAR{brand.email}}
\BLOCK{endif}
\BLOCK{if brand.phone}
\renewcommand{\orgphone}{\VAR{brand.phone}}
\BLOCK{endif}
\BLOCK{if brand.org_number}
\renewcommand{\orgnumber}{\VAR{brand.org_number}}
\BLOCK{endif}
\BLOCK{if brand.logo}
\renewcommand{\brandlogo}{\VAR{brand.logo}}
\BLOCK{endif}
\definecolor{brandprimary}{HTML}{\VAR{brand.colors.primary}}
\definecolor{brandsecondary}{HTML}{\VAR{brand.colors.secondary}}
\definecolor{brandaccent}{HTML}{\VAR{brand.colors.accent}}
\BLOCK{if brand.font.family}
\setmainfont{\VAR{brand.font.family}}
\BLOCK{endif}
\setdoclang{\VAR{brand.lang}}
