\documentclass{klartex-base}

%% include '_branding_preamble.jinja'
%% include '_header_' ~ data.get('header', 'standard') ~ '.jinja'

\BLOCK{if data.get('lang', 'sv') == 'en'}
\setdoclang{en}
\BLOCK{else}
\setdoclang{sv}
\BLOCK{endif}

\setdoctitle{\VAR{data.title}}

\begin{document}

%# --- Macro for rendering a party fieldset ---
\BLOCK{macro render_party(party, label, group="")}
\fieldset[\VAR{group}]{\VAR{label}}{%
\textbf{\VAR{party.name}}\\[0.3em]
\BLOCK{if party.get("org_number")}
Org.nr: \VAR{party.org_number}\\
\BLOCK{endif}
\BLOCK{if party.get("id_number")}
Personnr: \VAR{party.id_number}\\
\BLOCK{endif}
\BLOCK{if party.get("address")}
\VAR{party.address}
\BLOCK{else}
\BLOCK{if party.get("address_line1")}
\VAR{party.address_line1}\\
\BLOCK{endif}
\BLOCK{if party.get("address_line2")}
\VAR{party.address_line2}
\BLOCK{endif}
\BLOCK{endif}
}
\BLOCK{endmacro}

%# --- Recursive macro for clause items ---
\BLOCK{macro render_items(item_list, list_type="numbered")}
\BLOCK{if list_type == "bullet"}
\begin{itemize}[leftmargin=1.2em, itemsep=0.2em, topsep=0.3em]
\BLOCK{else}
\begin{subclauses}
\BLOCK{endif}
\BLOCK{for item in item_list}
\BLOCK{if item is string}
\item \VAR{item}
\BLOCK{else}
\BLOCK{if item.get("title")}
\item \textbf{\VAR{item.title}}
\BLOCK{if item.get("text")}
\\ \VAR{item.text}
\BLOCK{endif}
\BLOCK{else}
\item \VAR{item.text}
\BLOCK{endif}
\VAR{render_items(item["items"], item.get("list", "numbered"))}
\BLOCK{endif}
\BLOCK{endfor}
\BLOCK{if list_type == "bullet"}
\end{itemize}
\BLOCK{else}
\end{subclauses}
\BLOCK{endif}
\BLOCK{endmacro}

%# --- Body blocks ---
\BLOCK{set clause_started = [false] }
\BLOCK{for block in data.body}

\BLOCK{if block.type == 'title_page'}
\BLOCK{if clause_started[0]}
\end{clauses}
\BLOCK{set _ = clause_started.__setitem__(0, false) }
\BLOCK{endif}
\makedoctitle{\VAR{data.party1.name}}{\VAR{data.party2.name}}{\VAR{data.title}}

\BLOCK{elif block.type == 'parties'}
\BLOCK{if clause_started[0]}
\end{clauses}
\BLOCK{set _ = clause_started.__setitem__(0, false) }
\BLOCK{endif}
\noindent
\begin{minipage}[t]{0.48\textwidth}
\VAR{render_party(data.party1, block.get("label1", "Part 1"), "parties")}
\end{minipage}%
\hspace{0.04\textwidth}%
\begin{minipage}[t]{0.48\textwidth}
\VAR{render_party(data.party2, block.get("label2", "Part 2"), "parties")}
\end{minipage}

\BLOCK{elif block.type == 'heading'}
\BLOCK{if clause_started[0]}
\end{clauses}
\BLOCK{set _ = clause_started.__setitem__(0, false) }
\BLOCK{endif}
{\fontsize{24pt}{29pt}\selectfont\bfseries \VAR{block.text}\par}\vspace{3em}

\BLOCK{elif block.type == 'preamble' or block.type == 'text'}
\BLOCK{if clause_started[0]}
\end{clauses}
\BLOCK{set _ = clause_started.__setitem__(0, false) }
\BLOCK{endif}

\vspace{1em}
\noindent \VAR{block.text}

\BLOCK{elif block.type == 'clause'}
\BLOCK{if not clause_started[0]}
\begin{clauses}
\BLOCK{set _ = clause_started.__setitem__(0, true) }
\BLOCK{endif}
\clause{\VAR{block.title}}
\BLOCK{if block["items"] | length == 1 and block["items"][0] is string}
\\ \VAR{block["items"][0]}
\BLOCK{else}
\VAR{render_items(block["items"])}
\BLOCK{endif}

\BLOCK{elif block.type == 'signatures'}
\BLOCK{if clause_started[0]}
\end{clauses}
\BLOCK{set _ = clause_started.__setitem__(0, false) }
\BLOCK{endif}
\BLOCK{if block.get("new_page", true)}
\signatureblock{\VAR{data.party1.name}}{\VAR{data.party2.name}}{\VAR{data.party1.get('signatory', '')}}{\VAR{data.party2.get('signatory', '')}}
\BLOCK{else}
\signatureblock*{\VAR{data.party1.name}}{\VAR{data.party2.name}}{\VAR{data.party1.get('signatory', '')}}{\VAR{data.party2.get('signatory', '')}}
\BLOCK{endif}

\BLOCK{endif}
\BLOCK{endfor}

\BLOCK{if clause_started[0]}
\end{clauses}
\BLOCK{endif}

\end{document}
